@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Playfair+Display&display=swap');

/* CSS Reset and set custom variables*/
*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --brand-green: #00B140;
    --brand-purple: #582C83;
    --background-light: #FFF;
    --background-medium: #EBEBEB;
    --background-dark: #25291C;
    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --tertiary-font: 'Playfair Display', serif;
}

html, body {
    height: 0;
}

body {
    line-height: 1.5;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-medium, gainsboro);
    color: var(--background-dark, black);
    font-family: var(--primary-font, Arial, Helvetica, sans-serif);

    display: flex;


    /* display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 10fr 1fr;
    grid-template-areas: "header section"
    "footer footer"; */
}

.page-header {
    background-image: url(imgs/pexels-curtis-adams-4839348.jpg);
    background-position: center;
    background-size: auto;
}

.logo-container {
    margin-top: 10em;
    background-color: rgba(0, 0, 0, 0.7);
    height: auto;
}

.logo {
    height: 5em;
}

.main {
}

.form-container {
    background-color: var(--background-light);
}

.page-footer {
    background-color: var(--brand-green);
}

